body {
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI", Roboto,
    "Helvetica Neue", Arial,
    "Noto Sans", sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    /*"Noto Color Emoji;*/
}

td > a:hover {
    text-decoration: none;
}

#message-sms-url {
    display: none;
}

.bg-light-blacker {
    background: rgba(0, 0, 0, 0.05);
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.9;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

.spinner-border {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
}

.wrapper {
    /*margin-top: 150px;*/
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.true {
    color: green;
    font-size: large;
    padding: 2px 15px;
}

.false {
    color: red;
    font-size: large;
    padding: 2px 15px;
}

.form-field-size {
    max-width: 140px;
}