{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}{{ policy.number }}{% endblock %}

{% block content %}
    <!-- Result after the call to the customer -->
    <h5 class="p-3 mb-2 bg-light-blacker" id="result-after-call"
        data-insurance-policy-update-url="{% url 'api-customer-service:api-insurance-policy-update' pk=policy.id %}">
        {% bootstrap_button content='&#x276E;' href=request.META.HTTP_REFERER size='small' button_class='btn-light' extra_classes="mr-2" %}
        <strong>{{ policy.number }}</strong>
        <a href="#" id="is_reinsured"
           class="badge badge-{% if policy.is_reinsured %}success{% else %}secondary{% endif %}"> {% trans 'Insured' %}</a>
        <a href="#" id="is_reinsured_another_company"
           class="badge badge-{% if policy.is_reinsured_another_company %}success{% else %}secondary{% endif %}"> {% trans 'Insured in another company' %}</a>
        <a href="#" id="is_impossible_to_call"
           class="badge badge-{% if policy.is_impossible_to_call %}success{% else %}secondary{% endif %}"> {% trans 'Impossible to call' %}</a>
        <a href="#" id="is_called_will_insure"
           class="badge badge-{% if policy.is_called_will_insure %}success{% else %}secondary{% endif %}"> {% trans 'Was called and will insure' %}</a>
        <a href="#" id="is_called_will_not_insure"
           class="badge badge-{% if policy.is_called_will_not_insure %}success{% else %}secondary{% endif %}"> {% trans 'Was called and will not insure' %}</a>
    </h5>

    <div class="row">

        <!-- Policy information -->
        <div class="col-sm">
            <div class="pl-3 mb-1 bg-secondary text-white">{% translate 'Policy' %}</div>
            {% if policy.sticker %}
                <div class="p-2 mb-2 bg-light-blacker text-white">
                    <small>{% translate 'Sticker' %}: </small><br>{{ policy.sticker }}</div>
            {% endif %}
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Registration Date' %}: </small><br>{{ policy.registration_date }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Begin Date' %}: </small><br>{{ policy.begin_date }}
            </div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'End Date' %}: </small><br>{{ policy.end_date }}</div>

            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Insurance Code' %}: </small><br>{{ policy.insurance_code }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Sum Insured' %}: </small><br>{{ policy.sum_insured }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Price' %}: </small><br>{{ policy.price }}</div>

            {% if policy.bonus %}
                <div class="p-3 mb-2 bg-light-blacker text-body">
                    <small>{% translate 'Bonus' %}: </small><br>{{ policy.bonus }}</div>
            {% endif %}

            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Territory' %}: </small><br>{{ policy.territory }}</div>
        </div>

        <!-- Customer information -->
        <div class="col-sm">
            <div class="pl-3 mb-1 bg-secondary text-white">{% translate 'Customer' %}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Customer' %}: </small><br>{{ policy.customer.name }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'EDRPOU/IIN' %}: </small><br>{{ policy.customer.ind_number }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Address' %}: </small><br>{{ policy.customer.address }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Country' %}: </small><br>{{ policy.customer.country }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Phone' %}: </small><br>{{ policy.customer.phone }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Type' %}: </small><br>{{ policy.customer.customer_type }}</div>
        </div>

        <!-- Car information -->
        <div class="col-sm">
            <div class="pl-3 mb-1 bg-secondary text-white">{% translate 'Car' %}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Mark' %}: </small><br>{{ policy.car.mark }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Model' %}: </small><br>{{ policy.car.model }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Registration place' %}: </small><br>{{ policy.car.registration_place }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Registration country' %}: </small><br>{{ policy.car.registration_country }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'Registration number' %}: </small><br>{{ policy.car.registration_number }}</div>
            <div class="p-3 mb-2 bg-light-blacker text-body">
                <small>{% translate 'VIN' %}: </small><br>{{ policy.car.vin_code }}</div>
        </div>

        <!-- Message information -->
        <div class="col-sm">
            <div class="pl-3 mb-1 bg-secondary text-white">{% translate 'SMS Messages' %}</div>
            {% if sms_messages %}
                {% for message in  sms_messages %}
                    <div class="p-3 mb-2 bg-light-blacker text-body">
                        {{ message.created }}<br>
                        {% autoescape on %}
                            {{ message.body | linebreaksbr }}
                        {% endautoescape %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="p-3 mb-2 bg-light-blacker text-body">
                    {% translate 'No SMS messages yet' %}
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
        var urlApiInsurancePolicyUpdate = $('#result-after-call').attr('data-insurance-policy-update-url');

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function putDataAjax(data) {
            $.ajax({
                method: 'PUT',
                url: urlApiInsurancePolicyUpdate,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                },
                data: data,
            })
                .done(function (data) {
                })
                .fail(function (data) {
                    console.log("error");
                })
        }

        function getDataAjax() {
            var result = '';
            $.ajax({
                method: 'GET',
                url: urlApiInsurancePolicyUpdate,
                async: false
            })
                .done(function (data) {
                    result = data;
                })
                .fail(function (data) {
                    result = data;
                    console.log("error");
                })
            return result;
        }

        function changeClass() {
            var data = getDataAjax();
            var this_bool;

            if ($(this).hasClass("badge-success") === true) {
                this_bool = true;
                $(this).removeClass("badge-success").addClass("badge-secondary");
            } else {
                this_bool = false;
                $(this).removeClass("badge-secondary").addClass("badge-success");
            }

            var this_id = $(this).attr('id');
            data[this_id] = !this_bool;
            putDataAjax(data);
        }

        $("#is_reinsured").on("click", changeClass);
        $("#is_reinsured_another_company").on("click", changeClass);
        $("#is_impossible_to_call").on("click", changeClass);
        $("#is_called_will_insure").on("click", changeClass);
        $("#is_called_will_not_insure").on("click", changeClass);

    </script>
{% endblock %}
