{% extends 'base.html' %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block title %}Polices{% endblock %}

{% block content %}
    <h2>Policies</h2>
    {% if filter %}
        {{ filter.form.media }}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'Filter' %}
        </form>
    {% endif %}

    {% render_table table %}

    {% include "bsmodals/confirm.html" %}
    {% include "bsmodals/error.html" %}
    {% include "bsmodals/alert.html" %}

    <p id="message-sms-url" data-url="{{ message_sms_url }}">{{ message_sms_url }}</p>
{% endblock %}

{% block javascript %}
    <script src="/static/bsmodals/bsmodals.js"></script>
    {#    <script src="/static/bsmodals/restapi.js"></script>#}

    <script>
        {# From Django doc #}

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        var urlMessageCreate = $('#message-sms-url').attr('data-url');

        function getDataAjax(url) {
            var result = '';
            $.ajax({
                method: 'GET',
                url: url,
                async: false
            })
                .done(function (data) {
                    result = data;
                })
                .fail(function (data) {
                    result = data;
                    console.log("error");
                })
            return result;
        }

        {#function putDataAjax(putData, url) {#}
        {#    var res = $.ajax({#}
        {#        method: 'PUT',#}
        {#        url: url,#}
        {#async: false,#}
        {#        beforeSend: function (xhr) {#}
        {#            xhr.setRequestHeader("X-CSRFToken", csrftoken)#}
        {#        },#}
        {#        data: putData,#}
        {#    })#}
        {#        .done(function (data, status, jqXHR) {#}
        {#            console.log('R: ', data);#}
        {#            console.log('Status: ', status);#}
        {#            console.log('jqXHR: ', jqXHR.status);#}
        {#        })#}
        {#        .fail(function (data) {#}
        {#            console.log("error");#}
        {#        })#}
        {#    return res;#}

        $("table.table > tbody > tr").delegate('td', 'click', function (event) {
            var yes = '✔';
            var no = '❌';
            var td = $(this);
            var thisTdClass = td.attr('class');
            var resultAfterTheCall = ['is_reinsured', 'is_reinsured_another_company', 'is_impossible_to_call',
                'is_called_will_insure', 'is_called_will_not_insure'];

            var numberPolicy = td.parent('tr').find('td.number').text();
            var end_datePolicy = td.parent('tr').find('td.end_date').text();

            var thisButton = $(this).find('button');

            if (resultAfterTheCall.includes(thisTdClass)) {
                {#event.preventDefault();#}

                bsmodals_confirm('Policy ' + numberPolicy + ' update',
                    'Are you sure you want to update the policy ?', function (result) {
                        if (result) {
                            //var policyId = $(this).parent('tr').attr('data-id');
                            var dataUrlPolicy = td.parent('tr').attr('data-url');
                            var data = getDataAjax(dataUrlPolicy);

                            data[thisTdClass] = td.find('span').attr('class') !== 'true';

                            $.ajax({
                                method: 'PUT',
                                url: dataUrlPolicy,
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                                },
                                data: data,
                            })
                                .done(function (data, status, jqXHR) {
                                    {#console.log('jqXHR: ', jqXHR.status);#}
                                    if (td.find('span').is('.true')) {
                                        td.find('span').removeClass('true').addClass('false');
                                        td.find('span').empty().append(no);
                                    } else {
                                        td.find('span').removeClass('false').addClass('true');
                                        td.find('span').empty().append(yes);
                                    }
                                })
                                .fail(function (data) {
                                    bsmodals_error(data.statusText, "btn-warning");
                                })
                        }
                    }, yes_text = 'YES', yes_style = 'btn-success', no_text = 'NO', no_style = 'btn-secondary'
                );
            } else if (thisButton.attr('class', 'send_sms')) {
                console.log('SEND Sms');

                bsmodals_confirm('Customer policy expires on ' + end_datePolicy,
                    'Are you sure you want to send the sms?', function (result) {
                        if (result) {
                            var policyId = td.parent('tr').attr('data-id');
                            console.log(policyId);
                            {#var dataUrlPolicy = td.parent('tr').attr('data-url');#}
                            $.ajax({
                                method: 'POST',
                                url: urlMessageCreate,
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                                },
                                data: {
                                    "sid": "444000000000",
                                    "body": "Hello ...",
                                    "from_phone_number": "+380960000000",
                                    "to_phone_number": "+380960000000",
                                    "customer": 1,
                                    "car": 1,
                                    "insurance_policy": 1
                                },
                            })
                                .done(function (data, status, jqXHR) {
                                        console.log('jqXHR: ', jqXHR.status);
                                        bsmodals_alert('Hi', 'Done')
                                    }
                                )
                                .fail(function (data) {
                                    bsmodals_error(data.statusText, "btn-warning");
                                })

                            {#var data = getDataAjax(dataUrlPolicy);#}

                            {#data[thisTdClass] = tr.find('span').attr('class');#}
                            {#putDataAjax(data, dataUrlPolicy);#}
                        }
                    }, yes_text = 'YES', yes_style = 'btn-success', no_text = 'NO',
                    no_style = 'btn-secondary');
            }
        });

    </script>
{% endblock %}

