{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block title %}{% translate 'Policies' %}{% endblock %}

{% block content %}
    {% if filter %}
        {{ filter.form.media }}
        <h5 class="p-2 bg-light-blacker text-left">
            <form id="policies-filter" method="get" class="form form-inline">
                {% bootstrap_label content=_('Policies') label_class='pr-2' %}
                {% bootstrap_form filter.form size='small' layout='inline' %}

                <div class="form-group">
                    {% bootstrap_button content='Reset' button_type='reset' size='small' button_class='btn-secondary' extra_classes='m-1' %}
                    {% bootstrap_button content='OK' button_type='submit' size='small' button_class='btn-secondary' %}
                </div>
                {% bootstrap_form_errors filter.form layout='inline' %}
            </form>
        </h5>
    {% endif %}

    {% render_table table %}

    {% include "customer_service/update_sms_dialog.html" with dialog_id="update-sms-dialog" %}
    {% include "customer_service/custom_confirm_dialog.html" with dialog_id="custom-confirm-dialog" %}
    {% include "bsmodals/confirm.html" %}
    {% include "bsmodals/error.html" %}
    {% include "bsmodals/alert.html" %}

    <p id="message-sms-url" data-url="{% url 'api-customer-service:api-message-sms-create' %}"></p>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script src="/static/bsmodals/bsmodals.js"></script>
    {#    <script src="/static/bsmodals/restapi.js"></script>#}

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <script src="/static/js/policies.js"></script>
{% endblock %}

