{% extends "bsmodals/generic.html" %}
{% load i18n %}

{% block body %}
    <h5 id="update-sms-dialog-title">{% translate 'Update SMS message' %}</h5>

    <form>
        <div class="form-group">
            <label for="update-sms-dialog-customer" class="col-form-label">{% translate 'Customer' %}</label>
            <input type="text" class="form-control" id="update-sms-dialog-customer" name="customer">

            <label for="update-sms-dialog-number" class="col-form-label">{% translate 'Insurance Policy' %}</label>
            <input type="text" class="form-control" id="update-sms-dialog-number" name="number">

            <label for="update-sms-dialog-end-date" class="col-form-label">{% translate 'End date' %}</label>
            <input type="text" class="form-control" id="update-sms-dialog-end-date" name="end_date">

            <label for="update-sms-dialog-message-sms" class="col-form-label">{% translate 'Message' %}</label>
            <textarea id="update-sms-dialog-message-sms" class="form-control" name="message_sms" rows="5"></textarea>
        </div>
    </form>
{% endblock body %}

{% block footer %}
    <button id="update-sms-dialog-close" type="button" data-dismiss="modal" class="btn btn-secondary">{% translate 'CLOSE' %}</button>
    <button id="update-sms-dialog-ok" type="button" data-dismiss="modal" class="submit-btn btn btn-success">{% translate 'OK' %}</button>
{% endblock footer %}