{% load static %}
{% load bootstrap4 %}
{% load tags %}

{% url 'customer_service:policies' as policies %}
{% url 'customer_service:messages' as messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>{% block title %}{% endblock %} | INSURER</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Insurer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {% active request policies %}" href="{% url 'customer_service:policies' %}">Policies</a>
            <a class="nav-item nav-link {% active request messages %}" href="{% url 'customer_service:messages' %}">Messages</a>
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: <a href="https://github.com/mosiahr">Hryhorii
        Mosia</a></div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

{% block javascript %}{% endblock %}

</body>
</html>