{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load tags %}

{% url 'customer_service:policies' as policies %}
{% url 'customer_service:messages' as messages %}
{% url 'login' as login %}
{% url 'logout' as logout %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon_io/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon_io/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon_io/favicon-32x32.png' %}">
{#    <link rel="manifest" href="{% static 'icon/favicon_io/site.webmanifest' %}">#}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>{% block title %}{% endblock %} | Insurer</title>
</head>
<body>
<div id="loading" class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{% static 'icon/favicon_io/favicon-32x32.png' %}" alt="" height="">
            <strong> surer</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% active request policies %}">
                    <a class="nav-link" href="{{ policies }}">{% translate 'Policies' %}</a></li>
                <li class="nav-item {% active request messages %}">
                    <a class="nav-link" href="{{ messages }}">{% translate 'Messages' %}</a></li>
            </ul>
{#            <ul class="navbar-nav mr-3">#}
{#                {% get_current_language as LANGUAGE_CODE %}#}
{#                {% get_available_languages as languages %}#}
{#                {% for lang_code, lang_name in languages %}#}
{#                    {% language lang_code %}#}
{#                        <li class="nav-item {% if LANGUAGE_CODE == lang_code %}active{% endif %}">#}
{#                            <a class="nav-link" href="{% url 'customer_service:policies' %}">{{ lang_code }}</a>#}
{#                        </li>#}
{#                    {% endlanguage %}#}
{#                {% endfor %}#}
{#            </ul>#}
            <ul class="navbar-nav">
                {% if user.is_authenticated %}

                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user }}</button>
                        <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item disabled" type="button">{% translate 'Your profile' %}</button>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"  href="{{ logout }}">{% translate 'Log out' %}</a>
                        </div>
                    </div>

                {% else %}
                    <li class="nav-item {% active request login %}"><a class=" nav-link" href="{{ login }}">
                        {% translate 'Log in' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}


<!-- Content -->
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer id="footer" class="page-footer bg-light-blacker">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: <a href="https://github.com/mosiahr">Hryhorii
        Mosia</a></div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


{% block javascript %}{% endblock %}
<script>
    $(window).on("load", function () {
        $('#loading').fadeOut('slow');
    })
    $(document).ready(function () {
        var docHeight = $(window).height();
        var footerHeight = $('#footer').height();
        var footerTop = $('#footer').position().top + footerHeight;

        if (footerTop < docHeight)
            $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
    });
</script>

</body>
</html>